<div class="modal-header" id="modal-header">
    <i class="fa fa-minus-circle"></i> <span class="modal-title">{{title}}</span>

    <i class="pull-right fa fa-remove modal-remove" title="取消" ng-click="cancel()"></i>
</div>
<div class="modal-body">
    <table class="table table-hover table-striped" ng-show="params.deny_domains.length">
        <thead>
        <tr>
            <th>域名</th>
            <th class="text-right">被禁止访问的时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in params.deny_domains">
            <td><a target="_blank" href="http://{{item.domain}}/">{{item.domain}}</a></td>
            <td class="text-right">{{item.add_time+'000'|date:'MM-dd HH:mm:ss':'UTC+8'}}</td>
        </tr>
        </tbody>
    </table>
    <small class="text-muted">若干时间内若干次被禁止访问, 该爬虫会停止抓取该域名的所有URL. 定期尝试, 直到成功后恢复抓取.</small>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-show="modal.show_ok" ng-click="ok()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>