<div class="table-responsive ">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>序</th>
            <th>项目</th>
            <th>状态</th>
            <th>进度</th>
            <th>耗时</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr class="" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
            <td>{{item}}</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td style="width: 200px;text-align: right;">
                <button type="button" class="btn btn-danger btn-sm">停止</button>
                <a class="btn btn-default btn-sm" href="/project/task/project_name">任务</a>
                <a class="btn btn-info btn-sm" href="/project/result/project_name">结果</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
