<form name="project_edit">
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open">
            <accordion-heading>
                基本设置 <i class="pull-right fa"
                    ng-class="{'fa-angle-up': status.open, 'fa-angle-right': !status.open}"></i>
            </accordion-heading>

            <div class="form-group">
                <label>计划名称:</label>
                <br/>
                <small>执行或保存后不可修改!</small>
                <input type="text" class="form-control" placeholder="输入名称" ng-model="project.name" name="name" required>
            </div>
            <div class="form-group">
                <label>起始URL:</label>
                <br/>
                <small>执行或保存后不可修改!</small>
                <br/>
                <small>抓取入口, 在新建的项目中会默认将其加入抓取队列, 成为第一个抓取的链接.</small>
                <br/>
                <small>格式: http://www.example.com/</small>
                <input type="url" class="form-control" placeholder="输入URL" ng-model="project.url" name="url" required>
            </div>
        </accordion-group>
    </accordion>

    <div class="form-group">
        <label for="project_code_editor">代码:</label>
<textarea id="project_code_editor">
from spider import start
import time
import re


def page(spider):
    """
    在此方法体编写逻辑代码
    """
    pass


start('test.net', page)
</textarea>
    </div>
</form>


<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button ng-click="exec_test()"
                type="submit"
                class="btn btn-success navbar-btn"
                ng-disabled="!project_edit.$valid">执行测试
        </button>
        <button type="submit"
                class="btn btn-primary pull-right navbar-btn"
                ng-disabled="!project_edit.$valid">保存计划
        </button>
    </div>
    <!-- /.container-fluid -->
</div>