<form name="project_form" novalidate>
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open">
            <accordion-heading>
                <i class="fa fa-gears"></i> 基本设置 <i class="pull-right fa"
                    ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
            </accordion-heading>

            <div class="form-group">
                <label><span style="color:red;">*</span> 计划名称:</label>
                <br/>
                <small>执行或保存后不可修改!</small>
                <br/>
                <small>格式: [0-9a-zA-Z_-]+</small>
                <input type="text" class="form-control"
                        ng-disabled="!input_write"
                        placeholder="输入名称" ng-model="project.name" name="name" required>
            </div>
            <div class="form-group">
                <label><span style="color:red;">*</span> 起始URL:</label>
                <br/>
                <small>执行或保存后不可修改!</small>
                <br/>
                <small>抓取入口, 在新建的项目中会默认将其加入抓取队列, 成为第一个抓取的链接.</small>
                <br/>
                <small>格式: http://www.example.com/example.html</small>
                <input type="url"
                        ng-disabled="!input_write"
                        class="form-control"
                        placeholder="输入URL"
                        ng-model="project.init_url"
                        ng-init="project.init_url='http://'"
                        name="init_url"
                        required>
            </div>
            <div class="form-group">
                <label>计划描述:</label>
                <textarea class="form-control"
                        rows="2"
                        placeholder="输入描述"
                        ng-model="project.desc"
                        name="desc">

                </textarea>
            </div>
        </accordion-group>
    </accordion>
    <textarea id="project_code_editor"
            style="display: none;">
import time
import re


def page(spider):
    """
    在此方法体编写逻辑代码
    """
    for url in spider.urls:
	    spider.crawl(url)

    # print len(spider.urls)

start(page)

    </textarea>
</form>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <button type="submit" ng-click="save_project()"
                class="btn btn-primary navbar-btn"
                ng-show="project_form.$valid">保存计划
        </button>
        <button
                type="submit"
                ng-click="exec_test()"
                class="btn btn-success navbar-btn pull-right" ng-show="showTest">执行测试
        </button>
    </div>
</div>


