<div class="table-responsive ">
    <a class="btn btn-primary btn-sm" href="/project/add/new"><i class="fa fa-plus"></i> 新建</a>
    <button ng-click="refresh()" class="btn btn-success btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
    <i class="fa fa-spinner fa-pulse" ng-show="show_load_icon"></i>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>序</th>
            <th>项目</th>
            <th>状态</th>
            <th>抓取数</th>
            <th>队列数</th>
            <th>结果数</th>
            <th style="width: 180px"></th>
        </tr>
        </thead>

        <tbody>
        <tr class="" ng-repeat="item in projects">
            <td>{{$index+1}}</td>
            <td><a href="/project/edit/{{item.name}}"><i class="fa fa-edit"></i> {{item.name}}</a></td>
            <td>{{item.static}}</td>
            <td>{{item.parsed_len}}</td>
            <td>{{item.queue_len}}</td>
            <td>{{item.result_len}}</td>
            <td class="text-right">
                <button type="button" class="btn btn-danger btn-sm" ng-show="item.static=='抓取中'" ng-click="runToggle(item._id);">暂停</button>
                <button type="button" class="btn btn-success btn-sm" ng-show="item.static!='抓取中'" ng-click="runToggle(item._id);">开始</button>
                <a class="btn btn-default btn-sm" href="/project/task/{{item.name}}">历史</a>
                <a class="btn btn-primary btn-sm" href="/project/result/{{item.name}}">结果</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
