<div class="table-responsive ">
    <button ng-click="refresh();" class="btn btn-success btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>序</th>
            <th>IP</th>
            <th>状态</th>
            <th>通信次数</th>
            <th>抓取页面</th>
            <th>在线时长</th>
            <th>最近通信时间</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr class="" ng-repeat="(key,item) in slave">
            <td>{{$index+1}}</td>
            <td>{{key}}</td>
            <td>{{item.static}}</td>
            <td>{{item.connected_count}}</td>
            <td>{{item.parsed_count}}</td>
            <td>{{item.work_time_count}}秒</td>
            <td>{{item.last_connected_time+'000'|date:'MM-dd HH:mm:ss':'UTC+8'}}</td>
            <td style="width: 200px;text-align: right;">
                <button type="button" class="btn btn-danger btn-sm">停止</button>
                <a class="btn btn-default btn-sm" href="/slave/task/{{key}}">历史</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
