<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>时间</th>
            <th>IP</th>
            <th>状态</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" ng-repeat="item in tasks">
            <td style="width:100px;">{{item.add_time+'000'|date:'MM-dd HH:mm':'UTC+8'}}</td>
            <td style="width:100px;">{{item.slave_ip}}</td>
            <td style="width:56px;">200</td>
            <td><a target="_blank" href="{{item.url}}" title="{{item.url}}">{{item.url|limitTo:100}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
