table.table thead tr th {
    color: #6c6c6c;
    font-size: 12px;
}

table.table td, table.table th {
    height: 28px;
    line-height: 28px !important;
    border: none !important;
}

.btn {
    border-radius: 2px;
    font-size: 12px;
}

label input {
    margin-top: 5px;
}

.CodeMirror-linenumber {
    left: -30px !important; /*conflict fix of bootstrap & CodeMirror*/
}

.CodeMirror {
    height: 650px;
    background-color: #f7f7f7;
}