table.table thead tr {
    /*background: #E74C3C;*/
    /*background: #d8d8d8;*/
}

table.table thead tr th {
    color: #6c6c6c;
    font-size: 12px;
}

table.table td, table.table th {
    height: 28px;
    line-height: 28px !important;
    border: none !important;
}

.btn {
    border-radius: 2px;
    font-size: 12px;
}

.btn-danger {
    background-color: #e77160;
    border-color: #e76b54;
}

.btn-success {
    background-color: #77ef77;
    border-color: #6cef72;
}

.btn-info {
    background-color: #5BC0DE;
    border-color: #4bbcde;
}